body {
    background-color: #444;
}

.selections {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    gap: 50px;
    padding: 5px;
}

input {
    border: 5px solid #eee;
    border-radius: 200%;
    max-width: 140px;
}

input:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #aaa;
}