body {
    background-color: #444;
}

.selections {
    height: 150px;
    width: 150px;
    display: flex;
}

input {
    display: inline;
    justify-content: space-around;
    align-items: center;
}

 